<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QSPRpred - SMILES Prediction</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
    <style>
        img {
            max-width: 140px;
            max-height: 140px;
            object-fit: contain;
        }
        table.dataTable td, table.dataTable th {
            text-align: left;
        }
    </style>
    <script>
        $(document).ready(function() {
            var table = $('#predictionsTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'csvHtml5',
                    'excelHtml5',
                    'pdfHtml5',
                    'print'
                ],
                "initComplete": function (settings, json) {  
                    $("#predictionsTable").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>"); 
                },
                autoWidth: true, // Prevent automatic column width adjustment
                columnDefs: [
                    { targets: [1], visible: false},
                    { targets: '_all', visible: true, width: '150px' } // Adjust this width as needed
                ]
            });
    
            // Adjust columns after the table is shown or modified
            $('#predictionsTable').on('shown.bs.collapse', function () {
                table.columns.adjust();
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            var table = $('#predictionsTable2').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'csvHtml5',
                    'excelHtml5',
                    'pdfHtml5',
                    'print'
                ],
                "initComplete": function (settings, json) {  
                    $("#predictionsTable2").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>"); 
                },
                autoWidth: false, // Prevent automatic column width adjustment
                columnDefs: [
                    { targets: '_all', visible: true } // Adjust this width as needed
                ]
				
            });
			
            // Adjust columns after the table is shown or modified
            $('#predictionsTable2').on('shown.bs.collapse', function () {
                table.columns.adjust();
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var checkboxes = document.querySelectorAll('.model-tile input[type="checkbox"]');
            checkboxes.forEach(function(checkbox) {
                checkbox.addEventListener('change', function() {
                    if (this.checked) {
                        this.parentElement.classList.add('checked');
                    } else {
                        this.parentElement.classList.remove('checked');
                    }
                });
            });
        });
    </script>
    
</head>
<body>
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="VHP4Safety Logo" class="center">
    <h2 class="subheader">This tool is under development, models and interface are subject to change </h2>
    <header>
        <h1>QSPRpred - pChEMBL Value Prediction</h1>
    </header>
    <div class="container">
        <form action="/predict" method="post" enctype="multipart/form-data">
            <p>This tool allows users to predict the activity of their chemicals of interest for various molecular initiation events from the VHP4Safety case studies. This prediction is done by target-specific, pretrained QSAR models. Next to the model name the containers below also show some model properties. Compounds should be entered as SMILES strings. The predicted bioactivity is given as predicted pchembl. This translates to a concentration of 10^-pchembl for a half maximal response. For example, an IC50 measurement of 1nM would have a pChEMBL value of 9.</p>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#thyroid">Thyroid</a></li>
                <li><a data-toggle="tab" href="#pd">Parkinson's Disease</a></li>
                <li><a data-toggle="tab" href="#nephrotox">Nephrotoxicity</a></li>
            </ul>
 
            <div class="tab-content">
                <div id="thyroid" class="tab-pane fade in active">
                    <label>MIE models:</label><sup><img src="/static/img/question-circle.svg" alt="Question circle" width="12" height="12" title="QSAR models for different endpoints. Download QMRF for model specific information"> </sup>
                    <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); gap: 10px;">
                        {% for model in models if model.case_study == 'thyroid' %}
                        <div class="model-tile {% if model.name in model_names %}checked{% endif %}">
                            <input type="checkbox" id="model_{{ loop.index }}" name="model" value="{{ model.name }}" {% if model.name in model_names %}checked{% endif %}>
                            <label for="model_{{ loop.index }}">
                                <strong>{{ model.pref_name }}</strong><br>
                                Model: {{ model.name }}<br>
                                Property: {{ model.target_property_name }}<br>
                                Task: {{ model.target_property_task }}<br>
                                Calculator: {{ model.feature_calculator }}<br>
                                Radius: {{ model.radius }}<br>
                                nBits: {{ model.nBits }}<br>
                                Algorithm: {{ model.algorithm }}<br>
                                <a href="{{ url_for('download_qmrf', path=model.currDir, target=model.name) }}">Download QMRF here</a>
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div id="pd" class="tab-pane fade">
                    <label>MIE models:</label><br>
                    <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); gap: 10px;">
                        {% for model in models if model.case_study == 'pd' %}
                        <div class="model-tile {% if model.name in model_names %}checked{% endif %}">
                            <input type="checkbox" id="model_{{ loop.index }}" name="model" value="{{ model.name }}" {% if model.name in model_names %}checked{% endif %}>
                            <label for="model_{{ loop.index }}">
                                <strong>{{ model.pref_name }}</strong><br>
                                Model: {{ model.name }}<br>
                                Property: {{ model.target_property_name }}<br>
                                Task: {{ model.target_property_task }}<br>
                                Calculator: {{ model.feature_calculator }}<br>
                                Radius: {{ model.radius }}<br>
                                nBits: {{ model.nBits }}<br>
                                Algorithm: {{ model.algorithm }}<br>
								<a href="{{ url_for('download_qmrf', path=model.currDir, target=model.name) }}">Download QMRF here</a>
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div id="nephrotox" class="tab-pane fade">
                <p>MIE models for the nephrotoxicity case study are in progress.</p>
            </div>
                
            
            <br>
            <label for="smiles">Enter SMILES strings (comma-separated):</label><br>
            <input type="text" id="smiles" name="smiles" value="{{ smiles_input }}" placeholder="Example: Cc1c(Cc2cc(I)c(OCC(=O)O)c(I)c2)c2c(cccc2)o1,O=c1cnn(-c2cc(Cl)c(Oc3ccc(O)c(S(=O)(=O)N4CCc5ccccc54)c3)c(Cl)c2)c(=O)[nH]1"><br><br>

            <label for="file">or Upload CSV file with SMILES (with a column named <q>SMILES</q>):</label><sup><img src="/static/img/question-circle.svg" alt="Question circle" width="12" height="12" title="Case sensitive"> </sup><br>
            <input type="file" id="file" name="file" accept=".csv"><br><br>
            
            <input type="submit" value="Run">
            <button type="submit" name="download_report" value="true">Generate Report</button>
        </div>
        </form>
        {% if data %}
    </div>
    
    <header>
        <h2>Predictions</h2>
    </header>
    <div class="prediction-container">
        <ul class="nav nav-tabs">
        <li class="active">
        <a data-toggle="tab" href="#Output">Simple Output</a>
        </li>
        <li>
        <a data-toggle="tab" href="#COutput">Comprehensive output</a>
        </li>
        </ul>
            

        <div class="tab-content">
            <div id="Output" class="tab-pane fade in active">
            <table id="predictionsTable" class="display">
                <thead>
                <tr>
                <th>Structure <sup><img src="/static/img/question-circle.svg" alt="Question circle" width="12" height="12" title="2D depiction of input molecule"> </sup></th>
                                    {% for header in headers[1:] %}
                <th>{{ header }} <sup><img src="/static/img/question-circle.svg" alt="Question circle" width="12" height="12" title= "{{ tooltips[loop.index0+1] }}" > </sup></th>
                                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                                {% for row in data %}
                <tr>
                <td>
                                        {% if row[0] %}
                <img src="{{ row[0] }}" alt="Molecule Structure">
                                        {% else %}
                <p>Invalid SMILES</p>
                                        {% endif %}
                </td>
                                    {% for cell in row[1:] %}
                <td><a href="{{ url_for('download_qprf', model=headers[loop.index0+1].split(' ')[-1].replace('(','').replace(')','') , smile=row[1]) }}">{{ cell }}</a> </td>
                                    {% endfor %}
                </tr>
                                {% endfor %}
                </tbody>
                </table>
                </div>
                


            <div id="COutput" class="tab-pane fade">
            <table id="predictionsTable2" class="cell-border">
                <thead>
                    <tr>
                        {% for key in data_dict.keys() %}
                        {% if 'value' in data_dict[key].keys() %}
                        <th rowspan="2" width="15%">{{ key }}</th> 
                        {% elif key == 'Nearest Neighbor' %}
                        <th colspan="{{ data_dict[key].keys()|length }}" scope="colgroup">{{ key }} <sup><img src="/static/img/question-circle.svg" alt="Question circle" width="12" height="12" title= "{{ tooltips_extensive[key] }}" > </sup></th>

                        {% else %}

                        <th colspan="{{ data_dict[key].keys()|length }}" scope="colgroup">{{ key }}</th>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for key in data_dict.keys() %}
                        {% if 'value' not in data_dict[key].keys() %}
                        {% for header in data_dict[key].keys() %}
                        <th> {{ header }} <sup><img src="/static/img/question-circle.svg" alt="Question circle" width="12" height="12" title= "{{ tooltips_extensive[header] }}" > </sup></th>
                        {% endfor %}  
                        {% endif %}
                        {% endfor %}                
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in range(data_dict["Model"]["value"]|length) %}
                    <tr>
                        {% for key in data_dict.keys() %}
                        {% if 'value' in data_dict[key].keys() %}
                            <td>{{ data_dict[key]['value'][i] }}</td>
                        {% else %}
                            {% for header in data_dict[key].keys() %}
                            {% if 'image' in data_dict[key][header].keys() %}
                                <td>
                                    {% if data_dict[key][header]['image'][i] %}
                                    <img src="{{ data_dict[key][header]['image'][i] }}" alt="Molecule Structure">
                                    {% else %}
                                    <p>Invalid SMILES</p>
                                    {% endif %}
                                </td>
                            {% elif 'url' in data_dict[key][header].keys() %}
                                <td><a href="{{ url_for('download_qprf', model=data_dict['Model']['value'][i] , smile=data_dict['Input']['SMILES']['value'][i]) }}">Click here to download</a> </td>
                            {% elif 'links' in data_dict[key][header].keys() %}
                                <td>
                                {% for j in range(data_dict[key][header]['links'][i] |length) %}
                                    <a href="{{ data_dict[key][header]['links'][i][j] }}" target="_blank">{{ data_dict[key][header]['value'][i][j] }}</a>
                                {% endfor %} 
                                </td>
                            {% else %}
                            <td>{{ data_dict[key][header]['value'][i] }}</td>
                            {% endif %}
                            {% endfor %}  
                        {% endif %}
                        {% endfor %} 
                    </tr>
                    {% endfor %}
                    </tbody>
            </table>
            </div>
        {% endif %}
    
        {% if error %}
        <p style="color:red;">{{ error }}</p>
        {% endif %}
    </div>
</div>
</div>

    <footer>
        <p class="footer-content">
            View the source code on&nbsp<a href="https://github.com/VHP4Safety/QSPRpred-Docker" target="_blank">GitHub</a>&nbsp&nbsp
            <img src="{{ url_for('static', filename='img/github.svg') }}" alt="GitHub Logo">
        </p>
    </footer>
</body>
</html>