<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QSPRpred - SMILES Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.2.2/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#resultsTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>
</head>
<body>
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="VHP4Safety Logo" class="center">
    <header>
        <h1>QSPRpred - SMILES Prediction</h1>
    </header>
    <div class="container">
        <form action="/predict" method="post" enctype="multipart/form-data">
            <label for="model">Select Model:</label><br>
            <select id="model" name="model" onchange="fetchMetadata(this.value)" required>
                <option value="" disabled selected>Select a model</option>
                {% for model in models %}
                <option value="{{ model }}">{{ model }}</option>
                {% endfor %}
            </select><br><br>

            <label for="smiles">Enter SMILES strings (comma-separated):</label><br>
            <input type="text" id="smiles" name="smiles" placeholder="Example: Cc1c(Cc2cc(I)c(OCC(=O)O)c(I)c2)c2c(cccc2)o1,O=c1cnn(-c2cc(Cl)c(Oc3ccc(O)c(S(=O)(=O)N4CCc5ccccc54)c3)c(Cl)c2)c(=O)[nH]1"><br><br>

            <label for="file">Or upload a CSV file with SMILES strings:</label><br>
            <input type="file" id="file" name="file" accept=".csv"><br><br>
            
            <input type="submit" value="Run">
        </form>
        {% if data %}
    </div>

    <header>
        <h2>Predictions</h2>
    </header>
    <div class="container">
        <div class="table-container">
            <table id="resultsTable" class="display">
                <thead>
                    <tr>
                        <th>SMILES</th>
                        <th>Prediction</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sm, pred in data %}
                    <tr>
                        <td>{{ sm }}</td>
                        <td>{{ pred }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    
        {% if error %}
        <p style="color:red;">{{ error }}</p>
        {% endif %}
    </div>

    <footer>
        <p class="footer-content">
            View the source code on&nbsp<a href="https://github.com/VHP4Safety/QSPRpred-Docker" target="_blank">GitHub</a>&nbsp&nbsp
            <img src="{{ url_for('static', filename='img/github.svg') }}" alt="GitHub Logo">
        </p>
    </footer>
</body>
</html>

